<!DOCTYPE html>

<html>
  <head>
    <title>Tafuro's History Hangman</title>
    <link rel='stylesheet' type='text/css' href='/style.css'>
  </head>

  <body>
    <p1>Tafuro's History Hangman</p1>
  </body>
</html>
